@import "../variables";

header {
    width: 100%;
    top: 0;
    background: $white;
    position: sticky;
    padding: 1rem;
    z-index: 999999;
    @include flexbox(none, space-between, column, 0);
    .main-header {
        @include flexbox(center, space-between, row, 0);
        .logo {
            font-size: 2rem;
            font-weight: 700;
        }
        svg {
            &:hover {
                fill: $blue;
                cursor: pointer;  
            }
        }
    }
    
    nav {
        display: none;
        ul {
            @include flexbox(center, 0, column, 1rem);
            li {
                padding: 1rem;
            }
        }
    }
}