@import "../variables";

main {
    background: $blue;
    .container {
        @include flexbox(0, 0, column, 0);
        .content-container-left {
            background: $white;
            .home-btn {
                background: $blue;
                color: $white;
                &:hover, &:active {
                    background: $red;
                }
            }
        } 
        @media (min-width:800px) {
            @include flexbox(0, 0, row, 0);
            img {max-width: 50%;}
            .content-container-left {
                @include flexbox(0, center, 0, 2rem);
            }
        }
    }
}