@import "../variables";

main {
    background: $blue;
    .container {
        @include flexbox(0, 0, column, 0);
        .content-container-left {
            background: $white;
            .home-btn {
                background: $blue;
                color: $white;
                &:hover, &:active {
                    background: $red;
                }
            }
        } 
    }
    
}