@import "../variables";

.informations {
    background: $blue;
    color: $white;
    text-align: center;
    @include flexbox(center, 0, column, 2rem);
    .info-btn {
        color: $blue;
        &:hover, &:active { color: $red; }
    }
}