@import "../variables";

.skills {
    background: $white;
    @include flexbox(center, 0, column, 0);
    .image-container {
        background: $white;
        @include flexbox(center, 0, 0, 0);
    }
    .content-container-left {
        .skills-container {
            @include flexbox(center, 0, column, 2rem);
            @media (min-width: 800px) {
                @include flexbox(0, space-between, row, 0);
            }
            .skill-container {
                @include flexbox(center, 0, column, 1rem);
                svg path {
                    fill: $red;  
                }
            }
        }
    }
    @media (min-width: 800px) { @include flexbox(0, 0, row, 0); }
}