@import "../variables";

.team {
    background: $blue;
    color: $white;
    text-align: center;
    @include flexbox(center, 0, column, 2rem);
    .content-container {
        @include flexbox(center, center, column, 2rem);
        @media (min-width: 800px) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }
        @media (min-width: 1000px) {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
        }
        .team-container {
            background: $white;
            color: $black;
            padding: 2rem;
            @include flexbox(center, center, column, 1.25rem);
            img { 
                border-radius: 50%;
                max-width: 50%;
                @media (min-width: 800px) { max-width: 70%; }
            }
            span { 
                color: $blue; 
                font-weight: 700; 
                font-size: 1.1rem; 
            }
        }
    }
}