$font: "Manrope", sans-serif;
$size: 800px;
$white: rgb(245, 245, 245);
$black: rgb(20, 20, 20);
$blue: rgb(58, 82, 214);
$red: rgb(255, 98, 98);

@mixin flexbox($align, $option, $direction, $gap) {
    display: flex;
    align-items: $align;
    justify-content: $option;
    flex-direction: $direction;
    gap: $gap;
}
@mixin reset {
    a {
        color: $black;
        text-decoration: none;
        &:hover, &:after {
            color: $blue;
            transition: 350ms ease-in-out;
        }
    }
    li {
        list-style: none;
    }
    button {
        border: 0;
        outline: none;
    }
}