@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');
@import "./components/variables";
@import "./components/layout/header";
@import "./components/layout/home";
@import "./components/layout/info";
@import "./components/layout/services";
@import "./components/layout/skills";
@import "./components/layout/contact";
@import "./components/layout/footer";

@include reset;

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    font-family: $font;
    font-size: 1rem;
    color: $black;
    line-height: 1.25;
    main, section {
        width: 100%;
        padding: 4rem 2rem;
    }
    h1 {
        color: $blue;
    }
    h2 { font-size: 1.75rem; }
    p {
        font-weight: 500;
        line-height: 1.85;
    }
    img {
        width: 100%;
    }
    button {
        font-weight: 700;
        cursor: pointer;
        padding: 1rem 1.75rem;
        border-radius: 5rem;
    }
    .content-container-left {
        width: 100%;
        @include flexbox(left, 0, column, 2rem);
        padding: 2.5rem;
    }
    svg {
        position: absolute;
        top: 0;
        left: 0;
        overflow: visible;
        z-index: -1;
    }
}