@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap");
header {
  width: 100%;
  top: 0;
  background: whitesmoke;
  position: -webkit-sticky;
  position: sticky;
  padding: 1rem;
  z-index: 999999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: none;
      -ms-flex-align: none;
          align-items: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0;
}

header .main-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 0;
}

header .main-header .logo {
  font-size: 2rem;
  font-weight: 700;
}

header .main-header svg:hover {
  fill: #3a52d6;
  cursor: pointer;
}

header nav {
  display: none;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: 0;
      -ms-flex-pack: 0;
          justify-content: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

header nav ul li {
  padding: 1rem;
}

main {
  background: #3a52d6;
}

main .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: 0;
      -ms-flex-align: 0;
          align-items: 0;
  -webkit-box-pack: 0;
      -ms-flex-pack: 0;
          justify-content: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0;
}

main .container .content-container-left {
  background: whitesmoke;
}

main .container .content-container-left .home-btn {
  background: #3a52d6;
  color: whitesmoke;
}

main .container .content-container-left .home-btn:hover, main .container .content-container-left .home-btn:active {
  background: #ff6262;
}

.informations {
  background: #3a52d6;
  color: whitesmoke;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: 0;
      -ms-flex-pack: 0;
          justify-content: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}

.informations .info-btn {
  color: #3a52d6;
}

.informations .info-btn:hover, .informations .info-btn:active {
  color: #ff6262;
}

.services {
  background: whitesmoke;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: 0;
      -ms-flex-pack: 0;
          justify-content: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0;
}

.services .image-container {
  background: whitesmoke;
  width: 80%;
  height: 100%;
  -webkit-transform: translateY(10%);
          transform: translateY(10%);
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: 0;
      -ms-flex-pack: 0;
          justify-content: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: 0;
          flex-direction: 0;
  gap: 0;
}

.services .image-container img {
  background: whitesmoke;
  padding: 5rem 0;
}

.services .image-container svg {
  width: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  overflow: visible;
}

.services .image-container svg path {
  fill: #ff6262;
}

.services .content-container-left {
  background: #ff6262;
  color: whitesmoke;
}

.services .content-container-left h2 {
  padding-top: 1.25rem;
}

.skills {
  background: whitesmoke;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: 0;
      -ms-flex-pack: 0;
          justify-content: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0;
}

.skills .image-container {
  background: whitesmoke;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: 0;
      -ms-flex-pack: 0;
          justify-content: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: 0;
          flex-direction: 0;
  gap: 0;
}

.skills .content-container-left .skills-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: 0;
      -ms-flex-pack: 0;
          justify-content: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}

.skills .content-container-left .skills-container .skill-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: 0;
      -ms-flex-pack: 0;
          justify-content: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

.skills .content-container-left .skills-container .skill-container svg path {
  fill: #ff6262;
}

.team {
  background: #3a52d6;
  color: whitesmoke;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: 0;
      -ms-flex-pack: 0;
          justify-content: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}

.team .content-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}

.team .content-container .team-container {
  background: whitesmoke;
  color: #141414;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.25rem;
}

.team .content-container .team-container img {
  border-radius: 50%;
  width: 20%;
}

.team .content-container .team-container span {
  color: #3a52d6;
  font-weight: 700;
  font-size: 1.1rem;
}

.contact {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: 0;
      -ms-flex-pack: 0;
          justify-content: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0;
}

.contact .contact-details {
  text-align: center;
  -webkit-transform: translateY(4%);
          transform: translateY(4%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: 0;
      -ms-flex-pack: 0;
          justify-content: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}

.contact .contact-details .detail {
  background: whitesmoke;
  width: 220px;
  height: 220px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.5rem;
}

.contact .contact-details .detail svg {
  width: 55px;
  height: 55px;
  fill: #3a52d6;
}

.contact .contact-container {
  width: 100%;
  background: #3a52d6;
  color: whitesmoke;
  padding: 2rem;
  padding-top: 3.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: 0;
      -ms-flex-pack: 0;
          justify-content: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2.5rem;
}

.contact .contact-container form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: 0;
      -ms-flex-pack: 0;
          justify-content: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5rem;
}

.contact .contact-container form input, .contact .contact-container form textarea {
  width: 100%;
  padding: .35rem;
  border: 0;
  outline: none;
}

.contact .contact-container form input:active, .contact .contact-container form input:focus, .contact .contact-container form textarea:active, .contact .contact-container form textarea:focus {
  border-bottom: 1px solid #ff6262;
  padding: .45rem;
}

.contact .contact-container form input::-webkit-input-placeholder, .contact .contact-container form textarea::-webkit-input-placeholder {
  font-size: .8rem;
  font-family: "Manrope", sans-serif;
  color: #3a52d6;
}

.contact .contact-container form input:-ms-input-placeholder, .contact .contact-container form textarea:-ms-input-placeholder {
  font-size: .8rem;
  font-family: "Manrope", sans-serif;
  color: #3a52d6;
}

.contact .contact-container form input::-ms-input-placeholder, .contact .contact-container form textarea::-ms-input-placeholder {
  font-size: .8rem;
  font-family: "Manrope", sans-serif;
  color: #3a52d6;
}

.contact .contact-container form input::placeholder, .contact .contact-container form textarea::placeholder {
  font-size: .8rem;
  font-family: "Manrope", sans-serif;
  color: #3a52d6;
}

.contact .contact-container form button {
  width: 100%;
  background: #ff6262;
  color: whitesmoke;
  border-radius: 0;
}

.contact .contact-container form button:hover, .contact .contact-container form button:active {
  background: whitesmoke;
  color: #3a52d6;
}

footer {
  width: 100%;
  background: #141414;
  color: whitesmoke;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: 0;
      -ms-flex-pack: 0;
          justify-content: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0;
}

footer h3, footer a, footer p {
  line-height: 1.25;
}

footer .main-content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: 0;
      -ms-flex-pack: 0;
          justify-content: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
  padding: 2rem;
}

footer .main-content .content-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: 0;
      -ms-flex-pack: 0;
          justify-content: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.5rem;
}

footer .main-content .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: 0;
      -ms-flex-align: 0;
          align-items: 0;
  -webkit-box-pack: 0;
      -ms-flex-pack: 0;
          justify-content: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: 0;
          flex-direction: 0;
  gap: 2rem;
}

footer a {
  color: whitesmoke;
}

footer a:hover, footer a:active {
  color: #3a52d6;
}

footer svg {
  width: 60px;
  height: 60px;
  fill: whitesmoke;
}

footer svg:hover {
  fill: #3a52d6;
  cursor: pointer;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}

footer .credits {
  padding: .5rem;
}

a {
  color: #141414;
  text-decoration: none;
}

a:hover, a:after {
  color: #3a52d6;
  -webkit-transition: 350ms ease-in-out;
  transition: 350ms ease-in-out;
}

li {
  list-style: none;
}

button {
  border: 0;
  outline: none;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100%;
  font-family: "Manrope", sans-serif;
  font-size: 1rem;
  color: #141414;
  line-height: 1.25;
}

body main, body section {
  width: 100%;
  padding: 4rem 2rem;
}

body h1 {
  font-size: 2.25rem;
  color: #3a52d6;
}

body h2 {
  font-size: 1.8rem;
}

body h3 {
  font-size: 1.5rem;
}

body p {
  font-weight: 500;
  line-height: 1.85;
}

body img {
  width: 100%;
}

body button {
  font-weight: 700;
  cursor: pointer;
  padding: 1rem 1.75rem;
  border-radius: 5rem;
}

body .content-container-left {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-box-pack: 0;
      -ms-flex-pack: 0;
          justify-content: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
  padding: 2rem;
}
/*# sourceMappingURL=main.css.map */