@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');
@import "./components/variables";
@import "./components/layout/header";
@import "./components/layout/home";
@import "./components/layout/info";
@import "./components/layout/services";
@import "./components/layout/skills";
@import "./components/layout/contact";
@import "./components/layout/footer";

@include reset;

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    font-family: $font;
    font-size: 1rem;
    color: $black;
    line-height: 1.25;
}